@model projet_ASPNET.Models.Article

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control" />
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp;<div class="btn btn-primary"><a style="color: #ffffff; text-decoration: none;" asp-action="Index">Retour </a></div>
            </div>
        </form>
    </div>
</div>

<div>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
